.heroVideoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  filter: blur(4px);
  min-height: 100%;
}

.heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.77777778vh;
  height: 56.25vw;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  border: none;
  pointer-events: none;
}
